.modal-backdrop{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}
.modal {
    background: white;
    border-radius: 2vw;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    row-gap: 2vw;
}
.modal > div{
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 1vw;
}
.modal form{
    grid-column: 1;
    display: grid;
    gap: calc(3vw + 1vh);
}
.modal ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.modal ul li{
    font-size: 1rem;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}
.modal ul li input{
    outline: none;
    border: none;
    width: 50%;
    background-color: lightgray;
    font-size: 1rem;
    font-weight: bold;
    padding: 1vw 1.5vw;
    border-radius: 1.5vw;
}
.modal ul li input[type='number']{
    width: 20%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4.2vw;
    height: 2.3vw;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 1.9vw;
    width: 1.8vw;
    left: 0.2vw;
    bottom: 0.2vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(2vw);
    -ms-transform: translateX(2vw);
    transform: translateX(2vw);
}
/* Rounded sliders */
.slider.round {
    border-radius: 2.3vw;
}
.slider.round:before {
    border-radius: 50%;
}

.modal input[type='submit']{
    cursor: pointer;
    outline: none;
    border: none;
    width: 40%;
    height: 3vw;
    justify-self: center;
    font-size: 0.9rem;
    border-radius: 2vw;
    background-color: rgba(0,0,0,0.4);
}
.modal input[type='submit']:hover{
    background-color: #2196F3;
    color: white;
}

.modal i{
    grid-area: 1/2;
    font-size: 1.7rem;
    cursor: pointer;
}
.modal i:hover{
    font-variation-settings: 'FILL' 1;
}